<div class="wrap">
    <h2>Walee - SME Info</h2>
</div>
<div class="container">
    <form method="post" action="options.php">
        <?php settings_fields( 'extra-post-info-settings' ); ?>
        <div class="form-field form-required term-name-wrap">
            <label for="tag-name">Name</label>
            <input name="tag-name" id="tag-name" type="text" value="" size="40" aria-required="true">
            <p>The name is how it appears on your site.</p>
        </div>
        <div class="form-field form-required term-name-wrap">
            <label for="tag-name">Name</label>
            <input name="tag-name" id="tag-name" type="text" value="" size="40" aria-required="true">
            <p>The name is how it appears on your site.</p>
        </div>
        <input type="submit" id="doaction2" class="button action" value="Submit">
    </form>
</div>